<div class="container">
    <h1>New Tweet</h1>
    <p>The adding images feature is still under construction.</p>
    <p>You can add and view an image but it might not be here when you come back ;-)</p>

    <%= render 'form', tweet: @tweet %>

    <%= link_to 'Back', tweets_path %>

</div>