<title>Loudfruit</title>
<div class="jumbotron">
	<h1>About Me</h1><br>
	<p>Hi!  <br>I'm Matt and I have worked in academic and corporate environments for 20 years and have been involved with many different types of business workshops during that time.</p>
	<p>In my career I have worked as a researcher in a Harvard Medical School lab, a lecturer at the University of Wyoming, a Business Analyst with mining conglomerate, Rio Tinto and an Engineer with commodities trading company, Glencore.</p>
	<p>You can find out more about me at <a href="https://au.linkedin.com/in/mattrosinski" class="btn btn-info btn-lg" >Linked In</a></p>
	<p>During the last 20 years I have witnessed a LOT of LAME workshops.  Poorly organized, disengaging, unproductive and unfocused.  It never fails to surprise me how little time people put into the strategy side of preparing for their workshop.  Let's face it.  Most of us, including myself, have been "winging" our workshops.  There is a better way.</p>
	<p>I have been thinking about how to create business workshops for any purpose that are engaging, fun and productive.  What I have found is exciting. It's a step-by-step process that will reduce the stress and increase the effectiveness of your next business workshop.</p>
</div>
