<title>Loudfruit</title>
<div class="jumbotron">
	<h1>Want to know more?</h1>
	<p>You can email me at matt@loudfruit.com to find out how you can get on the waiting list!</p>
	<p>You can also reach me on <a href="https://twitter.com/theloudfruit" class="btn btn-info">Twitter</a></p>
</div>