<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact us", contactus_path %>
<title>My MVP Project</title>
<h1>Want to know more?</h1>
<p>Complete the enquiry form below to find out how you can get on the waiting list!</p>
<p>Also follow me on Twitter <a href="https://twitter.com/theloudfruit">@theloudfruit</a></p>
