<title>My MVP Project</title>
<div class="jumbotron">
		<h1><b>Organize Super Effective Business Workshops in 5 Minutes Or Less</b></h1><br>
		<h2>Get ready to bring your best work forward!</h2>
			<ul>
				<li>Have you been asked to facilitate a workshop by your boss?</li>
				<li>Want to create a workshop with the potential to <b>open doors for your career?</b></li>
				<li>Do you want the best tools available for creating memorable and impactful workshops for your team?</li>
				<li>Do you want to learn the <b>step-by-step process and strategies</b> for organizing a professional and impressive workshop for any occassion?</li>
			</ul>
		<p>Sign up to get on the waiting list! <a href="https://loudfruit.com" class="btn btn btn-primary btn-lg" >Get Started >></a></p>
</div>