<title>Loudfruit</title>
<div class="jumbotron">
		<h1><b>Create Your Own Team Portal for Your Next Workshop in 5 Minutes Or Less</b></h1><br>
		<h2>Get ready to impress the hell out of your boss, team and clients!</h2>
			<ul>
				<li>Need a painless and fun way to engage and collect information from your team or clients before you meet?</li>
				<li>Thinking of using and presenting the results of anonymous polls or feedback to your team?</li>
				<li>Want to create an experience with the potential to <b>open doors for your career?</b></li>
				<li>Wondering how you can achieve more by doing less, but better?</li>
			</ul>
		<div class="container">	
			<p>Ready to stand out from the crowd? <a href="https://loudfruit.com" class="btn btn btn-primary btn-lg" >Hell Yeah! >></a></p>
		</div>
</div>