// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    padding-top: 		1rem;
}


.center {
	text-align: 		center;
}

.left {
	text-align: 		left;
	padding-left: 		15%;
	padding-right: 		15%;
	padding-bottom:		0%;
	font-size:			110%;

}


.btn-outline-info {
	border-color:		#ecf0f1;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: 				#fff;
    background-color:	#d35400;
    border-color: 		#d35400; 
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info {
    color: 				#fff;
    background-color:	#95A5A6;
    border-color: 		#95A5A6; 
}


.navbar-brand {
	color:				inherit;
	font-weight:		bold;
	font-size:			30px;
}


.navbar {
	background-color:	#ecf0f1;
	border:				#ecf0f1;
}







